.home-header {
    height: 90vh;

    background-image: linear-gradient(to right bottom, 
                      rgba($color-primary-light, 0.7), 
                      rgba($color-primary-dark, 0.7)), 
                      url(../../public/header_background2.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

    display: flex;
    justify-content: center;
    align-content: center;

    &__heading-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        
        text-align: center;

        & > .btn {
            align-self: center;
            width: 40%;
        }
    }
}