@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../base/typography";

@import "../layout/header";

.about-container {
    display: flex;
    flex-direction: column;
    background: rgb(120,168,72);
    background: linear-gradient(135deg, rgba(120,168,72,1) 0%, rgb(47, 85, 12) 80%);
    color: white;
}
.about__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-pair {
    text-align: center;
    padding: 10rem 0;
}
.title-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.title-info {
    max-width: 90%;
}
.goal-title {
    text-align: left;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #ceff9d;
}
.title-goal-text {
    font-size: 2rem;
    padding-bottom: 3rem;
}
#team-container {
    padding: 0 5%;
    align-items: center;
}
.team-title {
    text-align: center;
    padding: 10rem 0;
}
.sponsor-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sponsor-card__image {
    max-width: 100%;
    border-radius: 50%;
    padding-bottom: 3rem;
    filter: drop-shadow(2.5px 2.5px 10px rgb(0,0,0,.3));
}
.sponsor-card__title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1.5rem;
    color: #ceff9d;;
}
.sponsor-card__text {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
    text-indent: 5rem;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-card__image {
    max-width: 90%;
    border-radius: 50%;
    padding-bottom: 2rem;
    filter: drop-shadow(2.5px 2.5px 10px rgb(0,0,0,.3));
    
}
.team-card__title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .25rem;
    color: #ceff9d;
}
.team-card__info {
    font-size: 2rem;
    padding: 1rem 0 2rem 0;
    text-indent: 5rem;
}

@media only screen and (min-width: 700px) {
    
    .sponsor-img {
        max-width: 100%;
        border-radius: 50%;
        grid-area: image;
        align-self: center;
    }
    .sponsor-card__title {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 1.5rem;
    }
    .sponsor-card__text {
        font-size: 2rem;
        text-indent: 5rem;
        grid-area: text;
    }
    .sponsor-card{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1.25fr;
        grid-template-rows: 1fr .01fr;
        grid-template-areas:
        "image title"
        "text text";
        padding-bottom: 3rem;
    }

    .team-card {
        display: grid;
        padding-bottom: 5rem;
        justify-content: space-center;
    }
    .card-left {
        grid-template-columns: .5fr 1fr;
        grid-template-rows: .5fr 1fr;
        grid-template-areas: 
        "image title"
        "image text";

    }
    .card-right {
        grid-template-columns: 1fr .5fr;
        grid-template-rows: .5fr 1fr;
        grid-template-areas: 
        "title image"
        "text image";
        column-gap: 3rem;
    }
    .team-card__image {
        max-width: 90%;
        border-radius: 50%;
        padding-bottom: 2rem;
        grid-area: image;
    }
    .team-card__title {
        align-self: end;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: .25rem;
        grid-area: title;
    }
    .team-card__info {
        align-self: flex-start;
        font-size: 2rem;
        padding: 1rem 0 2rem 0;
        text-indent: 5rem;
        grid-area: text;
    }
}


@media only screen and (min-width: 1000px){  
    .about-container{
        justify-content: center;
    }
    .about__title-container{
        align-self: center;
        max-width: 85%;
    }

    .title-pair{
        padding: 35vh 1vw;
    }
    .title-text{
        font-size: 4rem;
    }

    .goal-title{
        font-size: 3rem;
    }

    .team-title {
        padding: 20vh 0;
    }

    .title-goal-text{
        font-size: 2rem;
        font-weight: 50;
    }
    
    #team-container {
        max-width: 85%;
        align-self: center;
    }
}
