@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../base/typography";

@import "../layout/home_header";

.container {
    min-height: 100vh;

    background-color: white;
}

.header {
    width: 100%;
    height: 60vh;

    // image: linear-gradient(...), url(../../public/header_background2.jpg);

    background: $primary-yellow;

    overflow: visible;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 8rem;

    padding: 0 10%;

    margin-bottom: 15rem;

    &__heading-container {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        
        text-align: center;

        & > .btn {
            align-self: center;
            width: 40%;
        }
    }

    &__heading-primary{
        &--main  {
            color: black;
            font-size: 3rem;
            font-weight: 500;
            text-transform: capitalize;
        }

        &--sub {
            color: $color-grey-dark-1;
        }

    }

    &__img-wrapper {
        height: 100%;
        width: 100%;
        overflow: visible;
    }

    &__img {
        object-fit: cover;
        height: 115%;
        width: 100%;

        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.main {
    height: 50vh;
    width: 100%;
    padding: 0 10%;

    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 8rem;

    margin-bottom: 10rem;

    &__img-comp {
        position: relative;
    }

    &__img {
        object-fit: cover;
        height: 100%;
        width: 45%;


        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 4px;
        position: absolute;

        transition: .4s ease-out;
        
        &--1 {
            left: 0;

            @include respond(tab-port)  {
                top: 0;
                transform: scale(1.2);
            }
        }

        &--2 {
            left: 27%;
            top: 0;

            z-index: 2;
            transform: scale(1.05);

            @include respond(tab-port)  {
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }
        }

        &--3 {
            right:0;

            @include respond(tab-port)  {
                top: 1rem;
                left: 0;
                transform: scale(1.1);
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 10;
        }
    }

    &__img-comp:hover &__img:not(:hover) {
        transform: scale(.95);
    }

    &__heading-container {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        
        text-align: center;

        & > .btn {
            align-self: center;
            width: 40%;
        }
    }

    &__heading-primary{
        &--main  {
            color: black;
            font-size: 3rem;
        }

        &--sub {
            color: $color-grey-dark-1;
        }

    }
}

.main-2 {
    height: 50vh;
    width: 92.9%;
    padding: 0 10% 0 3%;
    margin-left: 7%;

    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 8rem;

    margin-bottom: 10rem;

    background-color: $primary-yellow;

    position: relative;

    // -webkit-clip-path: polygon(4rem 0, 100% 0, 100% 50vh, 4rem 50vh);
    // clip-path: polygon(6% 0, 100% 0, 100% 100%, 6% 100%);

    &__img-wrapper {
        position: absolute;
        top:-10%;
        right: 10%;

        height: 120%;
        width: 30%;
        overflow: visible;
    }

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;

        border-radius: 5px;
    }
}