@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
    display: flex;
    font-family: 'DM Serif Text', serif;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    background: $primary-yellow;
    justify-content: center;
    align-items: center;
    padding: 10%;
    outline: none;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));
}

.icon-logo {
    width: 30%;
    max-width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: auto;
    &, h1 {
        margin-left: 2rem;
        font-size: 4rem;
        color: $primary-black;
    }
}

.card {
    display: grid;
    width: 90vw;
    max-width: 400px;
     
    background: $primary-black;
    box-shadow: 0px 4px 10px rgba(66, 66, 66, 0.39);
    padding: 5rem;
}

.input_pair{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 2rem;
    :first-child {
        padding: 0 1.2rem;
        width: 6rem;
    }
}

.userInput, .passInput {
    border: 0;
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    color: $primary-black;
    width: 100%;
    height: 2rem;
    padding: 2rem 3rem 2rem 0;
}

.submit {
    padding: 1.5rem;
    background-color: $primary-blue;
    border: 0;
    color: white;
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
        background-color: $primary-yellow;
        color: $primary-black;
    }
}

.title {
    text-align: center;
    color: white;
    padding: 0 0 6rem 0;
    font-size: 5rem;
    font-weight: 100;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-yellow;
    height: 100vh;
}

.incorrect {
    color: red
}