@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.quiz {
	&__container {
		background-color: aquamarine;
	}
}

.container {
	background-image: url(../../public/quiz_background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

	height: 95vh;

	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 2rem;
}

.img-credit {
	position: absolute;
	bottom: .2rem;
	right: .2rem;

	text-decoration: none;
	font-size: 1rem;
}

.submit-btn {
	z-index: 20;
	opacity: 1;
	height: 10rem;
	width: 20rem;
	background-color: green;
}