@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../base/animations";

.quiz {
	&__container {
		background-color: aquamarine;
	}
}

.quiz-start {
	position: relative;
	width: 100%;
	height: 100%;

	&__btn {
		&,
		&:link,
		&:visited {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			padding: 1.5rem 4rem;

			width: 80%;
			@include respond(tab-port) {
				width: 90%;
			}
			
			text-align: center;

			font-family: 'DM Serif Text', 'Open Sans', sans-serif;
			font-size: 7.5rem;
			font-weight: 700;
			letter-spacing: 1rem;
			text-transform: uppercase;
			color: $color-grey-dark-1;
			text-decoration: none;
			background-color: $color-grey-light-3;

			border: 1px solid $color-grey-dark-1;
			filter: drop-shadow(8px 8px rgba($color-grey-dark-1, .85));

			overflow: visible;

			transition: all .2s ease-out;

			z-index: 5;
		}
		
		&:hover {
			transform: translate(-50%, -52%);
		}

		&:focus {
			transform: translate(-50%, -48%);
		}
	}

	&__icon {
		width: 110%;
		height: 110%;

		position: absolute;
		left: -60%;
		top: 0%;
		z-index: 2;
	}
}

.container {
	background-color: $primary-yellow;
    position: relative;

	min-height: 100vh;
	width: 100%;

	display: grid;
	grid-template-rows: auto 10rem;

	padding: 0 10%;
	overflow: hidden;
}

.img-credit {
	position: absolute;
	bottom: .2rem;
	right: .2rem;

	text-decoration: none;
	font-size: 1rem;
}

.submit-btn {
	z-index: 20;
	opacity: 1;
	height: 10rem;
	width: 20rem;
	background-color: green;
}

.quiz-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;

	&__btn {
		&,
		&:link,
		&:visited {
			font-size: 2rem;
			text-decoration: none;
			letter-spacing: 1px;

			width: 12rem;
			height: 4rem;
			padding-bottom: .4rem;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 4px;
			
			@include respond('tab-port') {
				font-size: 2.8rem;
				width: 20rem;
				height: 6rem;
				border-radius: 8px;
			}
		}

		&--disabled {
			pointer-events: none;
			background-color: rgba($primary-yellow, 0);
			color: $color-grey-dark-1;
			border: 1px solid $color-grey-dark-1;
		}

		&--enabled {
			pointer-events: auto;
			background-color: rgba($color-grey-dark-1, 1);
			color: rgba($primary-yellow, 1);
			border: 1px solid $color-grey-dark-1;
		}
	}

	&__page {
		font-size: 2rem;
		font-weight: 700;
		color: $color-grey-dark-1;
		letter-spacing: 2px;
	}
}

.loading {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&__spinner {
		border: 1.6rem solid $primary-light-grey; /* Light grey */
		border-top: 1.6rem solid $primary-blue; 
		border-radius: 50%;
		width: 12rem;
		height: 12rem;
		animation: spin 2s ease-out infinite;
	}
}