$color-primary: #78a848;
$color-primary-light: #90c060;
$color-primary-dark: #486030;

$color-pink: #FFA8B5;
$color-pink-light: #FFCCCB;
$color-pink-dark: #FF8BA0;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

$primary-yellow: #FFE500;
$primary-black: #333;
$primary-blue: #026FBB;
$primary-light-grey: #DEDEDE;
$primary-dark-grey: #686868;