@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

// This is styling code for the navigation bar

.large-logo {
    height: 4rem;

    &--link,
    &--link:link,
    &--link:visited {
        text-decoration: none;
        color: inherit;
        flex-basis: 50%;
    }
}

.nav-bar {
    font-size: 1.6rem;
    height: 5rem;
    padding: 0 10rem;

    background-color: $primary-yellow;
    box-shadow: 0 10rem 4rem black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}

.nav {
    list-style-type: none;

    flex: 1;
    display: flex;
    align-self: stretch;

    justify-content: space-around;
    align-items: center;

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: $color-grey-dark-1;

        position: relative;

        margin-right: 2rem;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 80%;
            height: 80%;
            background-color: white;
        }
    }

    &__item {
        text-decoration: none;
        cursor: pointer;
        height: 100%;
        width: auto;

        align-self: stretch;

        padding: 0 1rem;
        margin: 0 2rem;

        display: flex;
        justify-content: space-around;
        align-items: center;

        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba($color-grey-dark-2, .5);
        }
    }

    &__link {
        align-self: center;
        margin-bottom: 0.5rem;
        text-decoration: none;
        position: relative;
        color: $color-grey-dark-1;

        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

