@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.container {
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow: visible;
	top:0px;
	left:0px;
	position: relative;

	background-color: rgba($primary-yellow, 1);
}

.question {
	display: grid;
	grid-template-columns: 12rem auto;

	justify-items: center;
	align-items: start;

	color: $color-grey-dark-1;
	margin-top: 3rem;

	z-index: 3;

	&__number {
		width: 100%;
		height: 6rem;
		font-size: 7rem;
		font-weight: 900;
		margin-bottom: 2rem;
		padding-top: .4rem;

		display: flex;
		justify-content: center;
		align-items: center;

		text-shadow: 1px 2px rgba($color-grey-dark-3, .9);
	}

	&__question {
		padding-top: 0rem;
		font-size: 2.6rem;
		font-weight: 900;
		justify-self: start;
		text-align: left;

		width: 100%;
		overflow-wrap: anywhere;

		margin-bottom: 2rem;
		z-index: 3;

		text-shadow: 1px 2px rgba($color-grey-dark-3, .9);
	}

	&__choice-container {
		margin-top: .4rem;
		width: 100%;
		grid-column: 1 / span 2;
		z-index: 3;
	}

	&__choice {
		width: 0;
		height: 0;
	}

	&__label-container {
		border: 1px solid $color-grey-dark-1;
		filter: drop-shadow(6px 6px rgba($color-grey-dark-1, .85));

		background-color: $color-grey-light-3;

		padding: 1rem 2rem;
		overflow: visible;

		transition: all .2s ease-out;
	}

	&__label {
		width: 100%;
		height: 100%;
		font-size: 1.8rem;
		font-weight: 600;
		text-align: left;
	}

	&__choice:not(:checked) + &__label-container  {
		cursor: pointer;

		& > label {
			cursor: pointer;
		}
	}

	&__choice:checked + &__label-container {
		cursor: default;
		background-color: rgba($color-grey-dark-1, 1);
		color: rgba($primary-yellow, 1);

		& > label {
			cursor: default;
		}
	}

	&__choice:active + &__label-container {
		transform: translate(3px, 3px);
	}

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__icon {
		width: 90%;

		position: absolute;
		right: -45%;
		top: -5%;
		z-index: 1;

		opacity: .6;
	}
}

.form {
	width: 100%;
	min-height: 100%;
	padding: 2rem;

	background-color: $color-grey-light-1;
	border-radius: 2.4rem;

	box-shadow: .5rem .5rem .1rem $color-grey-light-2;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.submit {
	&__submit-btn {
		text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;

		cursor: pointer;
		outline: none;

		width: 20rem;

		&:hover {
			box-shadow: 0 1rem 2rem rgba(#000, .15);
			transform: translateY(-2px);
		}

		&:focus {
			transform: translateY(1px);
		}
	}
}

.question {
	font-size: 2.0rem;
	font-weight: 600;
	letter-spacing: .2rem;
	text-align: center;

	margin-bottom: 2rem;
}

.choice {
	&__group {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	&__radio-group {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__radio-btn {
		margin-right: 2rem;
	}

	&__label {
		font-size: 1.6rem;
		text-align: center;
	}
}


.submit {
	font-family: 'DM Serif Text', 'Open Sans', sans-serif;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10rem auto;
	
	justify-items: flex-start;
	color: black;

	position: relative;

	&__title {
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: 2px;
		margin-top: 4rem;
	}

	&__submit-box {
		margin-top: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__dropdown {
		// A reset of styles, including removing the default dropdown arrow
		// appearance: none;
		// Additional resets for further consistency
		// background-color: transparent;
		border: 2px solid black;
		padding: .5rem 1rem;
		width: 30.8rem;

		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 1px;
	}

	&__input {
		border: 2px solid black;
		padding: .5rem 1rem;

		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 1px;

		width: 30.8rem;

		&:invalid {
			border: 2px solid rgb(255, 33, 33);
		}
	}

	&__label {
		font-size: 2rem;
		font-weight: 600;

	}

	
	&__submit-btn {
		&,
		&:link,
		&:visited {
			font-family: inherit;
			font-size: 2rem;
			text-decoration: none;
			letter-spacing: 1px;

			width: 12rem;
			height: 4rem;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 4px;
			margin-top: 4rem;

			pointer-events: auto;
			background-color: rgba($color-grey-dark-1, 1);
			color: rgba($primary-yellow, 1);
			border: 1px solid $color-grey-dark-1;
			
			@include respond('tab-port') {
				font-size: 2.8rem;
				width: 20rem;
				height: 6rem;
				border-radius: 8px;
			}
		}
	}
	
	&__icon {
		width: 70rem;
		height: 70rem;

		position: absolute;
		top: -2rem;
		right: -30rem;
	}
}
